# Виртуальное окружение
.venv/

# кэш питона
__pycache__/

# гит сущности
.git

# секреты
.env

# Настройки IDE
.idea/

# SSH-ключи
.ssh/
*.key
*.pub

# данные, модели и логи
data/
logs/
tests/
models/*.pkl
models/*.joblib
models/*.pt

# документация
docs/
*.md

# докер сущности
docker-compose.yml
docker-compose.prod.yml
Dockerfile